@charset "UTF-8";

@font-face {
    font-family: 'Roboto';
    src: url(../FONT/Roboto/Roboto-Medium.ttf) format(truetype);
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url(../FONT/Roboto/Roboto-Bold.ttf) format(truetype);
    font-weight: bold;
}

:root {
    --cor0: #091f4e;
    --cor1: #558D96;
    --cor2: #7b9ed6;
    --cor3: #F5DED5;
    --cor4: #d9e3f3;

    --font-padrao: 'Roboto', sans-serif;
    --font-destaque: 'Allison', cursive;

    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-padrao);
    font-weight: normal;
    background-color:#bfc9da;
}

/******************
*    HOME 
*******************/

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    background-size: cover;
    background-color: #091f4e;
}

.header h1 {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 0 9px rgba(0, 0, 0, 0.493);
}

.gmenu {
    margin: 0 7%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.384);
}


@media (max-width:799px) {
    .header {
        justify-content: center;
    }

    .header h1 {
        font-size: 1.8rem;
    }
}

.header h1 span:first-child {
    color: yellow;
}

.header h1 span:last-child {
    color: var(--cor2);
}


/*************************
*    HOME - Text - Link
**************************/

.headerlink {
    text-decoration: none;
}

/*************************
*    HOME - Menu
**************************/

.menu ul {
    margin: 0; 
}

.menu ul li {
    list-style: none;
    text-align: right;
    margin: 0; 
}

.menu ul li a {
    color: var(--cor3);
    font-size: 1.6rem;
    text-decoration: none;
    font-weight: bold;
    padding: 10px; 
    margin: 0; 
}

.gmenu ul li a:hover {
    color: var(--cor0);
    border-radius: 7px;
    text-shadow: rgba(0, 0, 0, 0.397);
    background-color: #7b9ed6;
}

@media (max-width: 799px) {
    .menu ul li a{
        display: none;
    }

    .menu {
        margin: 0;
    }
}

/*************************
*    Banner
**************************/
.banner img {
    width: 100%;
    height: auto;
}

/*************************
*    Submenu
**************************/
.submenu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 57px;
    padding: 1rem;
    background-size: cover;
    background-color: #091f4e;
    margin-top: -5px;
}

.submenu nav ul {
    display: flex;
}

.submenu nav ul li {
    list-style: none;
    display: block;
}

.submenu nav ul li a {
    color: white;
    text-decoration: none;
    margin: 0 30px;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 14px;
}

.submenu nav ul li:hover a {
    color: var(--cor0);
    border-radius: 7px;
    text-shadow: rgba(0, 0, 0, 0.397);
    background-color: #7b9ed6;
}

@media (max-width: 799px) {
    .submenu nav ul li a {
        margin: 0 15px;
    }
}

/* Pag. dos jornais */
.jornal {
    margin: 0 7%;
    padding: 2px 5%;
    background-color: rgb(255, 255, 255);
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.384);
}

.jornal .titulojornal {
    text-align: left;
    margin: -2px 10%;
    padding: 10px ;
    background-color: #c2d8fa;
}

.jornal .titulojornal:hover {
    background-color: #7e316e;
    color: white;
}

.jornal .subtitulodojornal {
    font-size: 2rem;
    margin: 1.5rem 0;
}

.titulojornal {
    font-size: 2.5rem;
    text-align: center;
    padding: 25px;
}

.subtitulodojornal {
    font-size: 1.2rem;
    margin: 0 0 1.2rem 0;
}


.jornal img {
    width: 90%;
    height: auto;
    padding: 0 5%;
}

.textojornal {
    font-size: 1.5rem;
    text-align: left;
    padding: 0 10%;
    margin-top: 15px;
}

p {
    margin: 0.5rem 0;
}

.videocorrecaopc {
    text-align: center;
    margin: 1.5rem 0;
}

.textojornal h2 {
    font-size: 2rem;
    text-align: center;
    margin: 1.5rem 0 ;
}

.autoresredator {
    font-size: 1rem;
    text-align: right;
    margin-top: 15px;
}

/* Vídeo youtube */

.videocorrecaosm {
    display: none;
}

.videocorrecaomedio {
    display: none;
}


@media (max-width:1500px) {
    .jornal .stilojornal .subtitulodojornal {
        padding: 0 5%;
        margin: 0 5%;
    }

}

@media (max-width:1330px) {
    .videocorrecaopc {
        display: none;
    }

    .videocorrecaomedio {
        display: block;
        text-align: center;
    }
    .videocorrecaosm {
        display: none;
    }
}


@media (max-width:799px) {
    .jornal {
        margin: 0;
        padding: 2px 0;
        background-color: rgb(255, 255, 255);
        text-align: center;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.384);
        text-align: ;
    }

    .jornal .stilojornal{
        text-align: left;
        padding: 0 0%;
    }

    .jornal .titulojornal {
        margin: -2px 0 0;
        padding: 7px 10px;
    }

    .jornal .stilojornal img {
        width: 100%;
        height: auto;
        padding: 0%;
    }

    .jornal .stilojornal .titulojornal h1 {
        margin-left: 5%;
        text-align: left;
        font-size: 2.5rem;
    }

    .jornal .stilojornal .subtitulodojornal {
        margin-left: 5%;
    }

    .jornal .stilojornal .direitos {
        text-align: center;
    }
    

    .textojornal {
        font-size: 1.5rem;
        text-align: left;
        padding: 0 5%;
        margin-top: 15px;
    }

    .videocorrecaopc {
        display: none;
    }

    .videocorrecaomedio {
        display: none;
    }

    .videocorrecaosm {
        display: block;
        text-align: center;
    }
}


/* Footer */

footer {
    background-color: #140d35;
    color: white;
    margin: 0 7%;
    padding: 15px 0;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.384);
}

footer a {
   text-decoration: none;
   color: white;
}

footer p {
    margin: 5px 0;
    padding: 0;
}

footer img {
    width: 20px;
    margin: 0px 5px -4px 10px;
}

.footericon {
    display: flex;
    justify-content: center;
}

@media (max-width:799px) {
    footer {
        margin: 0;
    }
}