@charset "UTF-8";

:root {
    --cor0: #091f4e;
    --cor1: #558D96;
    --cor2: #7b9ed6;
    --cor3: #F5DED5;
    --cor4: #d9e3f3;

    --font-padrao: 'Roboto', sans-serif;
    --font-destaque: 'Allison', cursive;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-color: var(--cor4);
    font-family: var(--font-padrao);
    font-size: 16px;
}

.header {
    width: 100%;
    height: 3.2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.3em;
    background-color: var(--cor0);
    box-shadow: 0 0 0.82em rgba(0, 0, 0, 0.623);
    
}

.menu-meio {
    width: 100%;
    height: 3.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor0);
    box-shadow: 0 0 0.82em rgba(0, 0, 0, 0.623);
    margin-top: -0.32em;
}

.header h1 {
    color: white;
    letter-spacing: -0.02em;
    text-transform:uppercase;
    text-shadow: 0 0 0.3125em rgba(20, 20, 20, 0.336);
}

.header h1 span:first-child {
    color: rgb(255, 208, 0);
}

.header h1 span:last-child {
    color: var(--cor2);
}

.menu {
    display: flex;
}

.menu > li{
    list-style: none;
    position: relative;
}


.menu > li a {
    padding: 0.79em;
    color: white;
    font-size: 1.25em;
    font-weight: 700;
    display: block;
    text-decoration: none;
    border-radius: 0.19em;
}

.header nav .home:hover {
    background-color:var(--cor2);
    font-size: 1.35em;
    padding: 0.65em;
    text-shadow: 0 0 0.32em rgba(0, 0, 0, 0.301) ;
    border-radius: 10%;
    font-weight: 800;
}

.menu > li:hover a{
    background-color:var(--cor2);
    font-size: 1.29em;
    padding: 0.8em;
    text-shadow: 0 0 0.32em rgba(0, 0, 0, 0.301) ;
    border-radius: 10%;
    font-weight: 800;
}

.banner {
    width: 100%;
    height: 100%;
}

.banner img {
    box-shadow: 0em 0.32em 1em rgba(0, 0, 0, 0.281);
}


